* {
    margin: 0;
    padding: 0;
}

.nav-wrapper{


	 background:#4E5A6B  !important;
	 font-family: 'moleelnav', sans-serif !important;
	 top: 0%;
	
}

.logoimg{

	width:35%; height: 65%;
	 
}


.logomobailo{

	width:42px; height: 50px;
	 
}


  .sidenav{

background:#4E5A6B  !important;

	 /* background: linear-gradient(#132a75 , #2478e2) !important;*/
}
.espaco{

padding-bottom: 20px !important;

}

  .sidenav li a{
font-size: 16px;  	
color: white !important;
}

.coriconemobile{

color: white !important;
}